/* 
.body {
  height: 100%;
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add other styles as needed */
/* } */

/* .canvas {
  border: 1px solid black;
  height: 650px; /* Adjust the height as needed */
/* width: 650px; */

/* Adjust the width as needed */
/* border-radius: 10px; */
/* }  */
.colorpick {
  height: 10px;
  width: 100%;
  /* border: 1px solid black; */
}

.button:active {
  background-color: lightgreen;
  color: white;
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {

  .h1 {
    font-size: larger;
  }

  .canvas {
    height: 480px;
    width: 280px;
  }

  .colorbox {
    height: 200px;
    width: 100px;
    padding-right: 2px;
  }
}

@media Screen and (max-width:480px) {
  .h1 {
    font-size: large;
  }

  .canvas {
    height: 380px;
    width: 180px;
  }

  .colorbox {
    height: 100px;
    width: 60px;
    padding-right: 1px;
  }

  .colorpick {
    height: 5px;
  }

  .colorBar {
    height: 5px;
    border-color: grey;

  }

  .button {
    /* height: 20px; */
    font-weight: 100;
    white-space: nowrap;
    width: 60px;
    font-size: 0.5em;
    border: 1px solid #000;
  }
}
